html, body {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: auto;
  font-size: 25px;
}
#preset {
  margin: 30px auto 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  width: 500px;
  height: 120px;
  background-color: red;
  color: #fff;
}
#hex {
  margin: 0 auto 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  width: 500px;
  height: 120px;
  background-color: #2e2e2e;
  color: #fff;
}
#rgb {
  margin: 0 auto 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  width: 500px;
  height: 120px;
  background-color: rgb(50, 150, 0);
  color: #fff;
}
#rgba {
  margin: 0 auto -150px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  width: 500px;
  height: 120px;
  background-color: rgba(40, 10, 100, 0.6);
  color: #fff;
}
#rgba-bg {
  margin: 70px auto 70px;
  z-index: -1;
  position: relative;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 40px;
  background-color: grey;
}
#hsl {
  margin: 0 auto 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  width: 500px;
  height: 120px;
  background-color: hsl(45, 90%, 40%);
  color: #fff;
}
#hsla {
  margin: 0 auto -150px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  width: 500px;
  height: 120px;
  background-color: hsla(160, 80%, 40%, 0.6);
  color: #fff;
}
#hsla-bg {
  margin: 70px auto 70px;
  z-index: -1;
  position: relative;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 40px;
  background-color: grey;
}
